<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card>
      <div class="center">
        <h2>{{name}}...</h2>
      </div>
      <div fxLayout="row">
        <div fxFlex="48%">
        <p class="mail">{{email}}</p>
        <a href={{linkedin}} target="blank"><i class="fa fa-linkedin-square">LinkedIn</i></a><br>
        <a href={{twitter}} target="blank"><i class="fa fa fa-twitter">Twitter</i></a><br>
        <a href={{github}} target="blank"><i class="fa fa-github">Github</i></a><br>
      </div>
      <div fxFlex="2%"></div>
      <div fxFlex="48%">
        <a href={{facebook}} target="blank"><i class="fa fa-facebook-square">Facebook</i></a><br>
        <a href={{instagram}} target="blank"><i class="fa fa-instagram">Instagram</i></a><br>
      </div>
      </div>
    </mat-card>
  </div>
